.jumbotron {
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	background-image: url("netflix_envelope.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 70px;

}

#metaPanel {
	font-size: smaller;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #feffff;
	color: #000;
	border-color: #959898;

}

#metaPanel .panel-heading {
	text-align: center;
	color:#000000;
	background-color:#959898;
	border-color:#959898
}

#selDate {
	padding: 7px;
	color: black;
	font-family:  Arial, Helvetica, sans-serif;
	font-weight: bold
}

#datePanel {
	font-family:  Arial, Helvetica, sans-serif;
	text-align: center;
	color: black;
	font-weight: bold;
	background-color: #959898;
	border-color: #000000
}

#pieChart {
	padding: 7px;
	font-family:  Arial, Helvetica, sans-serif;
	text-align: center;

}





